@use "sass:color";
@use "../globals" as *;
@use "base-states";
@use "buttons";

/***************
 * Popovers	 *
 ***************/
popover.background {
	padding: 2px;
	border-radius: 5px;
	background-color: $popover_bg_color;
	box-shadow: 0 1px 6px color.adjust(black, $alpha: -0.6);
	.csd &, & { border: 1px solid $borders_color; }
	&:backdrop {
		background-color: $backdrop_bg_color;
		box-shadow: none;
	}
	> list,
	> .view,
	> iconview,
	> toolbar {
		border-style: none;
		background-color: transparent;
	}
	.csd &, & {
		&.touch-selection,
		&.magnifier {
			@extend %osd;
			border: 1px solid color.adjust(white, $alpha: -0.9);
			button { @extend %osd_button; }
		}
		&.osd { @extend %osd; }
	}
	separator { margin: 3px; }
	list separator { margin: 0; }
	list row { padding: 8px; }
	checkbutton,
	radiobutton { @extend %modelbutton_flat; }
}
