[Desktop Entry]
Name=Chocula-Pastel
X-KDE-PluginInfo-Author=SueDonham
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=susan.donham@pm.me
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Chocula-Pastel
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/SueDonham/chocula-desktop-theme-pastel/tree/main/kde
X-KDE-ServiceTypes=Plasma/LookAndFeel
