[Desktop Entry]
Name=Chocula-Pastel
X-KDE-PluginInfo-Author=SueDonham
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=susan.donham@pm.me
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Chocula-Pastel
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/SueDonham/chocula-desktop-theme-pastel/tree/main/kde
X-KDE-ServiceTypes=Plasma/LookAndFeel

X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/2200977,kns://plasma-themes.knsrc/api.kde-look.org/2200979,kns://plasma-themes.knsrc/api.kde-look.org/2200980,kns://aurorae.knsrc/api.kde-look.org/2200981,kns://sddmtheme.knsrc/api.kde-look.org/2200982,kns://wallpaper.knsrc/api.kde-look.org/2198940,kns://xcursor.knsrc/api.kde-look.org/2139483,kns://icons.knsrc/api.kde-look.org/2200291
