@use "sass:color";

// Main definitions
$base_color: #322e2b;
$text_color: #f5f4f4;
$bg_color: #272422;
$fg_color: #f5f4f4;

// Primary colors
$green: #aac69f;
$red: #d19494;
$orange: #deb68c;
$yellow: #f3dea4;
$purple: #9e90af;
$darkpurple: #615775;
$cyan: #8bb1ab;
$blue: #80a2b3;
$slider: #a09991;

$selected_fg_color: #f5f4f4;
$selected_bg_color: color.adjust($purple, $alpha: -0.5);
$selected_borders_color: color.adjust($selected_bg_color, $lightness: -10%);
$borders_color: color.adjust(#211e1c, $alpha: -0.1);
$borders_edge: color.adjust(white, $alpha: -0.9);
$link_color: color.adjust($cyan, $lightness: 10%);
$link_visited_color:color.adjust($link_color, $alpha: -0.5);
$top_highlight: color.adjust(white, $alpha: -0.9);
$bottom_highlight: color.adjust(black, $alpha: -0.9);
$dark_fill: color.mix($borders_color, $bg_color, 35%);
$headerbar_color: $bg_color;
$headerbar_fg_color: $text_color;
$menu_color: color.adjust($base_color, $lightness: -2%);
$popover_bg_color: color.adjust($base_color, $lightness: -2%);
$popover_hover_color: color.adjust($bg_color, $lightness: 12%);

$scrollbar_bg_color: color.mix($base_color, $bg_color, 50%);
$scrollbar_slider_color: color.mix($fg_color, $bg_color, 60%);
$scrollbar_slider_hover_color: color.mix($fg_color, $bg_color, 80%);
$scrollbar_slider_active_color: color.adjust($selected_bg_color, $lightness: 10%);

$warning_color: color.adjust($orange, $lightness: -10%);
$error_color: color.adjust($red, $lightness: -5%);
$success_color: color.adjust($blue, $lightness: -10%);
$destructive_color: color.adjust($red, $lightness: -10%);
$suggested_color: color.adjust($cyan, $lightness: -10%);

$osd_fg_color: #fafafa;
$osd_text_color: white;
$main_dark_color:	color.adjust(#1a1816, $alpha: -0.2);
$osd_insensitive_bg_color: color.adjust(color.mix($osd_fg_color, color.adjust($main_dark_color, $alpha: 1), 10%), $alpha: -0.5);
$osd_insensitive_fg_color: color.mix($osd_fg_color, color.adjust($main_dark_color, $alpha: 1), 50%);
$osd_borders_color: color.adjust(black, $alpha: -0.3);

$sidebar_bg_color: color.mix($bg_color, $base_color, 50%);
$base_hover_color: color.adjust($fg_color, $alpha: -0.95);

$tooltip_borders_color: color.adjust(white, $alpha: -0.9);
$shadow_color: color.adjust(black, $alpha: -0.9);

$text_shadow_color: $shadow_color;
$icon_shadow_color: $text_shadow_color;

$drop_target_color: $green;

// Infobar colors
$info_color: color.adjust($green, $alpha: -0.15);
$question_color: $cyan;

// Panel colors
$panel_bg_color: $bg_color;
$panel_fg_color: white;
$panel_borders_color: color.adjust($panel_bg_color, $alpha: -0.8);

// Disabled state colors
$insensitive_fg_color: color.mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: color.mix($bg_color, $base_color, 60%);
$insensitive_base_color: color.adjust($base_color, $lightness: -5%);
$insensitive_borders_color: $borders_color;

// Backdrop state colors
$backdrop_base_color: color.adjust($base_color, $lightness: 1%);
$backdrop_text_color: color.mix($text_color, $backdrop_base_color, 80%);
$backdrop_bg_color: $bg_color;
$backdrop_headerbar_bg_color: $headerbar_color;
$backdrop_headerbar_fg_color: color.adjust($headerbar_fg_color, $alpha: -0.2);
$backdrop_fg_color: color.mix($fg_color, $backdrop_bg_color, 50%);
$backdrop_insensitive_color: color.adjust($backdrop_bg_color, $lightness: 15%);
$backdrop_selected_bg_color: color.adjust($selected_bg_color, $alpha: -0.1);
$backdrop_selected_fg_color: color.adjust($selected_fg_color, $alpha: -0.5);
$backdrop_borders_color: color.mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: color.mix($backdrop_borders_color, $backdrop_bg_color, 35%);
$backdrop_sidebar_bg_color: color.mix($backdrop_bg_color, $backdrop_base_color, 50%);
$backdrop_scrollbar_bg_color: color.adjust($backdrop_bg_color, $lightness: -3%);
$backdrop_scrollbar_slider_color: color.mix($backdrop_fg_color, $backdrop_bg_color, 40%);
$backdrop_menu_color: color.mix($backdrop_bg_color, $backdrop_base_color, 20%);
