$STRAWBERRY_100: #e6b3b3;
$STRAWBERRY_300: #d59595;
$STRAWBERRY_500: #bd7575;
$STRAWBERRY_700: #a9605e;
$STRAWBERRY_900: #905959;

$ORANGE_100: #ffce99;
$ORANGE_300: #f0b575;
$ORANGE_500: #db9b57;
$ORANGE_700: #c2690a;
$ORANGE_900: #8f3119;

$BANANA_100: #f7f0c0;
$BANANA_300: #f3dea4;
$BANANA_500: #ecc455;
$BANANA_700: #c7a138;
$BANANA_900: #a36c29;

$LIME_100: #def5d6;
$LIME_300: #c1e3b5;
$LIME_500: #aac69f;
$LIME_700: #6c936c;
$LIME_900: #3b7326;

$MINT_100: #ccf0e5;
$MINT_300: #90d5bf;
$MINT_500: #80b3a2;
$MINT_700: #59a68e;
$MINT_900: #327b61;

$BLUEBERRY_100: #b8d3e0;
$BLUEBERRY_300: #94bed1;
$BLUEBERRY_500: #80a2b3;
$BLUEBERRY_700: #507e95;
$BLUEBERRY_900: #365463;

$BUBBLEGUM_100: #eac8cb;
$BUBBLEGUM_300: #e8b0b6;
$BUBBLEGUM_500: #c67b82;
$BUBBLEGUM_700: #ac535c;
$BUBBLEGUM_900: #943841;

$GRAPE_100: #e8e0eb;
$GRAPE_300: #bfb0c4;
$GRAPE_500: #9e90af;
$GRAPE_700: #796c93;
$GRAPE_900: #615775;

$COCOA_100: #a0907e;
$COCOA_300: #847462;
$COCOA_500: #67584c;
$COCOA_700: #4f4236;
$COCOA_900: #362d26;

$SILVER_100: #f1f0ef;
$SILVER_300: #dbd8d5;
$SILVER_500: #b5afa9;
$SILVER_700: #8b8279;
$SILVER_900: #645d56;

$SLATE_100: #a4b7c1;
$SLATE_300: #6c8693;
$SLATE_500: #485f6a;
$SLATE_700: #384952;
$SLATE_900: #263238;

$BLACK_100: #6d665e;
$BLACK_300: #534d47;
$BLACK_500: #36332f;
$BLACK_700: #1c1a18;
$BLACK_900: #000;