@use "sass:color";

$base_color: #322e2b;
$text_color: #f5f4f4;
$bg_color: #272422;
$fg_color: #f5f4f4;

$main_dark_color: color.adjust($bg_color, $lightness: -5%);

$green: #aac69f;
$red: #d19494;
$orange: #deb68c;
$yellow: #f3dea4;
$purple: #9e90af;
$darkpurple: #615775;
$cyan: #8bb1ab;
$blue: #80a2b3;

$selected_fg_color: #f5f4f4;
$selected_bg_color: color.adjust($purple, $alpha: -0.5);
$selected_borders_color: color.adjust($selected_bg_color, $lightness: -20%);
$borders_color: color.adjust(#211e1c, $alpha: -0.1);

$link_color: color.adjust($cyan, $lightness: 10%);
$link_visited_color:color.adjust($link_color,$alpha: -0.5);

$warning_color: color.adjust($orange, $lightness: -25%);
$error_color: color.adjust($red, $lightness: -10%);
$destructive_color: color.mix($red, $bg_color, 85%);
$suggested_color: color.adjust($cyan, $lightness: -10%);
$drop_target_color: color.adjust($orange, $lightness: -15%);

//insensitive state derived colors
$insensitive_fg_color: color.adjust($fg_color, $alpha: -0.55);
$insensitive_bg_color: color.adjust($bg_color, $lightness: 2%);


$osd_fg_color: #c8c3bf;
$osd_bg_color: $main_dark_color;

$osd_button_bg: color.adjust(color.adjust($osd_bg_color, $lightness: 22%), $alpha: -0.6);
$osd_button_border: color.adjust(color.adjust($osd_bg_color, $lightness: -8%), $alpha: -0.6);

$osd_entry_bg: color.adjust(color.adjust($osd_bg_color, $lightness: 22%), $alpha: -0.6);
$osd_entry_border: color.adjust(color.adjust($osd_bg_color, $lightness: -8%), $alpha: -0.6);

$osd_insensitive_bg_color: color.adjust($osd_bg_color, $lightness: -3%);
$osd_insensitive_fg_color: color.mix($osd_fg_color, color.adjust($osd_bg_color, $alpha: 1), 30%);

$panel_bg:  color.adjust(color.adjust($bg_color, $lightness: -2%), $alpha: -0.05);
$panel_fg: $osd_fg_color;

$entry_bg: color.adjust($base_color, $lightness: 0%);
$entry_border: color.adjust($borders_color, $lightness: -0%);

$button_bg: color.adjust($base_color, $lightness: 2%);
$button_border: $entry_border;