@use "sass:color";

$base_color:#322e2b;
$bg_color:#322e2b;
$main_dark: color.adjust($bg_color, $lightness: -3%);
$gray: color.adjust($bg_color, $lightness: 7%);
$fg_color: #cdcac6;
$chocula: $bg_color;
$topbar_color: #f5f4f4;


$orange: #deb68c;
$yellow: #f3dea4;
$red: #d19494;
$purple: #9e90af;
$cyan: #8bb1ab;
$green: #aac69f;
$teal: #70a9a9;

$g1: color.adjust($purple, $alpha: -0.5);
$g2: color.adjust($purple, $alpha: -0.5);

$selected_fg_color: #f5f4f4;
$selected_bg_color: color.adjust($purple, $alpha: -0.5);
$selected_borders_color: color.adjust($selected_bg_color, $lightness: -10%);
$borders_color: color.adjust($bg_color, $lightness: -6%);
$borders_edge: color.adjust(white, $alpha: -0.9);
$link_color: color.mix($cyan, $green, 75%);
$link_visited_color: color.adjust($link_color, $alpha: -0.5);
$top_hilight: $borders_edge;
$top_highlight: color.adjust(white, $alpha: -0.9);
$bottom_highlight: color.adjust(black, $alpha: -0.9);

$warning_color: color.adjust($orange, $lightness: -10%);
$error_color: color.adjust( $red, $lightness: -5%);
$success_color: color.adjust($cyan, $lightness: -10%);
$destructive_color: color.adjust($red, $lightness: -35%);

$osd_fg_color: $fg_color;
$main_dark_color: color.adjust($bg_color, $alpha: -0.05);
$osd_borders_color: color.adjust(black, $alpha: -0.3);
$osd_outer_borders_color: color.adjust(white, $alpha: -0.9);

$tooltip_borders_color: $osd_outer_borders_color;

//insensitive state derived colors
$insensitive_fg_color: color.mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: color.mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: color.adjust($base_color, $lightness: 1%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: color.adjust($fg_color, $alpha: -0.2);
$backdrop_insensitive_color: color.adjust($backdrop_bg_color, $lightness: 15%);
$backdrop_borders_color: color.mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: color.mix($backdrop_borders_color, $backdrop_bg_color, 35%);
